<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KBBucan.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <img class="img-fluid " width="200" src="~/images/sari.png">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Anasayfa" asp-action="Index">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Iletisim" asp-action="Index">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin Paneli</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()

    <div class="container mb-5">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-2 mb-3">
                    <h5 class="">KBB AJANS</h5>
                    <ul class="nav flex-column ">
                        <li class="nav-item mb-2"><a asp-controller="Anasayfa" asp-action="Index" class="nav-link p-0 text-muted">Anasayfa</a></li>
                        <li class="nav-item mb-2"><a asp-controller="Iletisim" asp-action="Index" class="nav-link p-0 text-muted">Iletisim</a></li>
                        <li class="nav-item mb-2"><a href="/admin" class="nav-link p-0 text-muted">Admin Paneli </a></li>

                    </ul>
                </div>


                <div class="m-3"></div>
                <div class="col-md-5 offset-md-1 mb-3">
                    <form>
                        <fieldset disabled>
                            <h5>Haber bültenimize kayıt olun.</h5>
                            <p>Kampanyalarımızı ve iş tekliflerimizi kaçırmayın !</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Email address</label>
                                <input id="newsletter1" type="text" class="form-control " placeholder="Geçici Süreliğine Devre Dışıdır">
                                <button class="btn btn-primary" type="button">Kayıt Ol</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p class="text-center">&copy; 2023 KBB AJANS</p>

            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
